* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
}
/* links */
a {
    text-decoration: none;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:active {
    color: red;
}
a:hover {
    color: red;
}
/* Header */
.grid-container {
    margin: 0.5rem;
    display: inline-grid;
    grid-template-columns: 2fr 6fr 1fr 1fr;
    width: 100%;
    align-items: center;
}
.grid-container > div {
    display: inline-block;
}
.image {
    height: 7rem;
    width: auto;
}
.nav_Nav {
    font-size: 2rem;
}
.nav_right {
    margin-left: auto;

    padding-right: 1rem;
}
nav {
    border-bottom: 1px solid black;
}
/* Einschreiben Kurs */
.middle {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.beschreibungKurs {
    font-size: 2rem;
    width: 50%;
    margin-bottom: 3rem;
}
.middle > a,
#kursVerlassen {
    font-size: 2rem;
    margin-top: 6rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: lightgray;
}
/* Kurs */
#kursVerlassen {
    float: right;
    position: absolute;
    top: 10rem;
    right: 20rem;
    font-size: 1.5rem;
}
.ueberschrift {
    font-size: 4rem;
}
#grid-container-kurs {
    margin-top: 4rem;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 80%;
}
#grid-container-kurs > a {
    margin: 2rem;
}
#grid-container-kurs > a:link {
    color: black;
}
#grid-container-kurs > a:visited {
    color: black;
}
#grid-container-kurs > a:active {
    color: black;
}
#grid-container-kurs > a:hover {
    color: black;
}
.kurs-Kursabschnitt {
    width: 25rem;
    height: 25rem;
    background-color: dodgerblue;
}
.kurz-titel-kurs {
    font-size: 3rem;
    padding-top: 1rem;
}
.kurz-beschreibung-kurs {
    font-size: 2rem;
    padding: 1rem;
}
/* Kursabschnitt */
.arbeitsauftrag {
    background-color: lightblue;
    width: 65%;
    height: 26rem;
    margin-bottom: 3rem;
    border: 1px solid black;
}
.titel-arbeitsauftrag {
    margin-left: 1rem;
    font-size: 2.5rem;
}
.arbeitsdateien {
    border: 1px solid black;
    width: 20rem;
    height: 15em;
    margin: 2rem;
}
.arbeitsdateien > a {
    word-wrap: break-word;
    font-size: 2rem;
    padding: 0.2rem;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: black;
    text-align: center;
}
.grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.arbeitsdateien:nth-child(1) {
    background-color: #4e9cf5;
}
.arbeitsdateien:nth-child(3) {
    background-color: #f75252;
}
.arbeitsdateien:nth-child(2) {
    background-color: #60f05b;
}
.arbeitsdateien:nth-child(4) {
    background-color: #e0632e;
}
/* Abgabe */
.abgabe {
    margin-top: 10rem;
}
.abgabe > input {
    margin-bottom: 2rem;
    font-size: 2rem;
}

/* sidebar */
.sidebar {
    font-size: 2rem;
}
